<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.treasurehunter">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".pinArray"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".GUISplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PinActivity"
            android:label="Pin Selection" />
        <activity
            android:name=".PinCreateActivity"
            android:label="Pin Creation" />
        <activity
            android:name=".AuditLog"
            android:label="Audit Log" />
        <activity
            android:name=".MainActivity"
            android:label="Main Screen" />
        <activity
            android:name=".location_generation"
            android:label="ERROR LEAVE LEAVE ERROR" />
        <activity
            android:name=".LogInScreen"
            android:label="Log In" />
        <activity
            android:name=".GroupManager"
            android:label="Group Manager" />
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <activity
            android:name=".AccountManager"
            android:label="Account Manager" />
        <activity
            android:name=".IOtester"
            android:label="@string/title_activity_iotester"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GroupCreator" />
        <activity android:name=".ViewGroup" />
        <activity android:name=".GroupAuditLog" />
        <activity android:name=".GroupMembers"></activity>
    </application>

</manifest>